<script>
	import { browser } from "$app/environment";
	import { onMount } from "svelte";

// @ts-nocheck



    // @ts-nocheck
        let show_autocomplete = false;
        // @ts-ignore
        let pokemon = []
        let search = ""
        console.log(search)
        const data = [{id: 1, name: 'sparky'}, {id: 1, name: 'chebla'}];
        /**
	 * @type {WebSocket}
	 */
        let ws;
        onMount(() => {
            document.title = "Websocket Demo";
            ws = new WebSocket('wss://axum-app.onrender.com/search');
            ws.addEventListener("message", (e)=> {
                const data1 = JSON.parse(e.data).data;
                let data = [];
                data1.forEach(p => {
                    data.push(p[0])
                })
                pokemon = data;
            })
   
        })
        let checkVal = true;
        let searchVal = "";

    </script>

<!-- <h1>Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
    </thead>
    <tbody>
        {#each data as d}
            <tr>
                <td>{d.id}</td>
                <td>{d.name}</td>
            </tr>
        {/each}
    </tbody>
</table> -->
<span>Websocket API</span>
<input on:change={() => { pokemon = []; searchVal = ""; } 
} type="checkbox" bind:checked={checkVal} />
<div class="focus-me">
    <form class="myform">
    <input bind:value={searchVal} on:input={(e) => {
        console.log(checkVal);
        if (searchVal === "") {
            pokemon = []
            return;
        }
        if(checkVal) {
            ws.send(JSON.stringify({
                query: searchVal
            }))
        }
        else {
        fetch(`https://axum-app.onrender.com/get_pokemon?search=${e.target.value}`)
        .then(data => data.json().then(d => {
            const test = {...d.data[0][0], ...d.data[0][1] };
            let data = [];
            d.data.forEach(p => {
                data.push(p[0])
            })
            console.log(test);
            pokemon = data;
        })
        .catch(e => console.log(e, "failed")));
    }
    }} on:focusin={(e) => {
        const test = document.querySelector('.auto');
        test?.classList?.remove('auto');
    }} on:focusout={(e) => {
        // console.log(e.explicitOriginalTarget.classList.contains('testing'));
        // const isList = e.explicitOriginalTarget.classList.contains('testing');
        if(true) {
            console.log(e)
            const test = document.querySelector('#search');
            test?.classList.add('auto');
        }
    }} class="input_search" placeholder="search" type="text" />
    <!-- <button>Search</button> -->
    <div id="search" class="auto">
        {#each pokemon as d}
            <div class="testing" on:keypress={() => console.log("good")} on:mousedown={() => {
                alert(d.name)
            }}>{d.name}</div>
        {/each}
    </div>
    </form>
</div>

<style>
    .auto {
        visibility: hidden;
    }
    :global(body) {
        background-color: #161920;
        color: white;
        font: 14px/20px Helvetica Neue,Arial,sans-serif;
    }
    a {
        color: #00aff4;
        text-decoration: none;
    }
    a:hover {
        text-decoration:underline;
        color: #0095ff;
    }
    h1 {
        line-height: 1.1;
    }
    #search > div {
        cursor: pointer;
        padding: 10px;
    }
    #search:hover > div:hover {
        background-color: hsl(216deg 25% 30%);
    }
</style>